body {

    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Poiret One", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #5C258D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
@media (min-width: 768px) {body .container { max-width: 1440px; } }


/*parallax*/
.container-fluid{padding:0;}
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("https://www.w3schools.com/howto/img_parallax.jpg");
  min-height: 200px;
}

.bgimg-2 {
  background-image: url("https://www.w3schools.com/howto/img_parallax2.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("https://www.w3schools.com/howto/img_parallax3.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

/*parallax*/

/* spslit*/
.split{
    display:flex;
    min-height:100%;
    height:auto;
    width:100%;
    position:relative;
    padding:5rem 0
}
@media only screen and (min-width: 34rem){
    .split{
        padding:6rem 0
    }
}
 @media only screen and (min-width: 66rem){
    .split{
        height:100vh
    }
}
 @media only screen and (min-width: 75rem){
    .split{
        padding:0;
        width:50%;
        float:left
    }
}
 .split--designer{
    background:#fff
}
 @media only screen and (min-width: 75rem){
    .split--designer{
        background:rgba(255,255,255,0.95);
        width:50%;
        float:right
    }
}
 .split--developer{
    background:#1d3247
}
 @media only screen and (min-width: 75rem){
    .split--developer{
        background:rgba(20,41,62,0.95)
    }
}
 .split__ampersand{
    font-size:19.55rem;
    font-family:'Poiret One',Georgia,serif;
    text-align:center;
    position:absolute;
    color:#f05a5d;
    display:none
}
 @media only screen and (min-width: 75rem) and (min-height: 700px){
    .split__ampersand{
        display:block
    }
}
 .split--designer .split__ampersand{
    bottom:-240px;
    left:-100px;
    display:none
}
 @media only screen and (min-width: 75rem) and (min-height: 700px){
    .split--designer .split__ampersand{
        display:block
    }
}
 .split--developer .split__ampersand{
    top:-235px;
    left:0;
    right:0
}
 @media only screen and (min-width: 75rem) and (min-height: 700px){
    .split--developer .split__ampersand{
        /* top:-212px;
        right:-166px; */
        right: -121px;

top: -229px;
        left:initial;
        display:block
    }
}
 .split__title{
    font-weight:bold;
    color:#f05a5d;
    margin-left:1em;
    margin-right:3em;
    padding-bottom:10px;
    /*border-bottom:1px dashed #f05a5d;*/
}
 .split__title.developer{
    color:#fff;
    /*border-bottom:1px dashed #fff;*/
}
 @media only screen and (min-width: 34rem){
    .split__title{
        font-size:4rem
    }
}
 @media only screen and (min-width: 66rem){
    .split__title{
        font-size:4.444rem;
        letter-spacing:-1px
    }
}
 @media only screen and (min-width: 75rem){
    .split__title{
        font-size:3.555rem
    }
}
 @media only screen and (min-width: 100rem){
    .split__title{
        font-size:4.444rem
    }
}
 /* .split__title:after{
    background:#f05a5d;
    content:"";
    display:block;
    height:6px;
    margin:5px 0 10px;
    max-width:90px;
    width:90%
} */
 .split--designer blockquote>q,.split--designer cite,.split--designer .smallcaps{
    color:#1d3247
}
 .split--developer blockquote>q,.split--developer cite,.split--developer .smallcaps{
    color:#fff
}
 .split--designer p{
    color:#777
}
 .split--developer p{
    color:#ccc
}
 .split p{
    /*max-width:35rem*/
    text-align:center;
}
 @media only screen and (min-width: 66rem){
    .split p{
     /*   max-width:31.111rem*/
    }
}
/* spslit*/

.container-fluid.encaje.designer{
    background-image: url('https://juanferreras.com/img/bg-designer.jpg');
}
.container-fluid.encaje.developer{
    background-image: url('https://juanferreras.com/img/bg-designer.jpg');
}
.container-fluid.encaje{
    min-height: 100vh;

height: 100%;

position: relative;

width: 100%;
}
/*blockquote*/
blockquote{
    font-family:'Poiret One',Georgia,serif;
    font-style:italic;
    font-weight:normal
}
 blockquote>q{
    color:#1d3247;
    font-size:1.5rem;
    line-height:1.5;
    display:inline
}
 @media only screen and (min-width: 66rem){
    blockquote>q{
        font-size:1.333rem
    }
}
 blockquote>footer{
    display:inline-block;
    margin-left:.45rem
}
 cite{
    color:#938e9b
}
 q,blockquote,blockquote>q{
    quotes:"\201C" "\201D"
}
 q{
    font-style:italic;
    font-family:'Poiret One',Georgia,serif
}
 p>q{
    font-size:0.9em
}
 blockquote>footer{
    margin-top:.75rem;
    text-align:left
}
 blockquote{
    margin:20px 0
}
/*blockquote*/

 .container--center{
    height:auto;
    padding:0;
    align-self:center
}
 .container--small{
    width:86%;
    max-width:36rem;
    margin:0 auto
}
 @media only screen and (min-width: 66rem){
    .container--small{
        width:90%
    }
}
 @media only screen and (min-width: 100rem){
    .container--small{
        width:90%
    }
}

/*footer*/
#footer{
    /*background: #112437;*/
    background: #485563;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    position:relative;
    width:100%;
    height:29.33rem;
    z-index:-2;
    
}
 @media only screen and (min-width: 66rem){
    #footer{
        height:29.33rem;
        position:fixed;
        bottom:0;
        left:0;
        right:0
    }
}
 @media only screen and (min-width: 75rem){
    #footer{
        height:28.44rem
    }
}
 #footer.footer--relative{
    position:relative !important;
    height:auto !important
}
 .footer{
    max-width:1170px;
    margin-left:auto;
    margin-right:auto;
    padding:4rem 1rem;
    text-align:center
}
 .footer:after{
    content:"";
    display:block;
    clear:both
}
 @media only screen and (min-width: 48rem){
    .footer{
        padding:4rem 0
    }
}
 .footer__background{
    background:#241833 /*url("../img/roll.gif") no-repeat*/;
    background-size:cover;
    background-position:center;
    position:absolute;
    opacity:0;
    filter:grayscale(100%) contrast(115%);
    width:100%;
    min-height:100%;
    height:auto;
    z-index:-1;
    transition:opacity .5s ease, transform 5s ease
}
 @media only screen and (min-width: 34rem){
    .footer__background{
        display:block;
        height:100%
    }
}
 @media only screen and (min-width: 48rem){
    .footer__background{
        transform:perspective(1px) scale(1.25)
    }
}
 .footer__background--active{
    opacity:0.25;
    transform:perspective(1px) scale(1);
    transition:opacity .5s ease, transform 2s ease
}
 .footer__title{
    color:#fff;
    font-size:3rem;
    font-family:futura-pt,Open Sans,Arial,sans-serif;
    text-transform:none;
    border-bottom:0
}
 @media only screen and (min-width: 48rem){
    .footer__title{
        font-size:5rem
    }
}
 @media only screen and (min-width: 66rem){
    .footer__title{
        font-size:4.444rem
    }
}
 .footer__title span.merriweather{
    font-family:'Poiret One',Georgia,serif;
    font-size:.825em;
    font-style:italic
}
 .footer__subtitle{
    font-size:1.375rem;
    text-transform:uppercase;
    font-family:proxima-nova,Open Sans,Arial,sans-serif;
    letter-spacing:8px;
    font-weight:bold
}
 .footer__description{
    color:#ccc;
    max-width:40rem;
    margin:1rem auto
}
 .footer__description a.underline{
    color:#f05a5d;
    margin:0 .35rem;
    white-space:nowrap;
    line-height:1.2
}
 .footer__description a.underline::after{
    background:#f05a5d;
    line-height:1.2
}
 .footer__description span.roll{
    font-style:italic;
    cursor:help;
    border-bottom:1px dotted #ccc
}
 .footer__copyright{
    background:#0e1c2a;
    position:relative;
    padding:2rem
}
 @media only screen and (min-width: 48rem){
    .footer__copyright{
        position:absolute;
        bottom:0;
        left:0;
        right:0
    }
}
 @media only screen and (min-width: 75rem){
    .footer__copyright{
        padding:1rem 0
    }
}
 .footer--relative .footer__copyright{
    bottom:initial
}
 .footer__row{
    max-width:1170px;
    margin-left:auto;
    margin-right:auto
}
 .footer__row:after{
    content:" ";
    display:block;
    clear:both
}
 .footer__column{
    width:100%;
    margin:1rem 0;
    text-align:center;
    color:#938e9b;
    font-family:proxima-nova,Open Sans,Arial,sans-serif
}
 @media only screen and (min-width: 66rem){
    .footer__column{
        margin:0 0;
        width:32.2033898305%;
        float:left;
        margin-right:1.6949152542%
    }
}
 @media only screen and (min-width: 66rem){
    .footer__column--left{
        text-align:left
    }
}
 .footer__column--right{
    width:100%;
    margin:1rem 0
}
 @media only screen and (min-width: 66rem){
    .footer__column--right{
        margin:0 0;
        text-align:right;
        width:32.2033898305%;
        float:right;
        margin-right:0
    }
}
 .footer__column svg{
    fill:#fff;
    max-width:50px;
    vertical-align:middle;
    margin:0 .5rem
}
 .footer__column .heart-icon svg{
    fill:#f05a5d;
    max-width:1rem;
    margin-left:0;
    margin:2px .45rem .35rem 4px
}
 .footer__column p .heart-icon+a{
    display:inline;
    margin-left:.25rem
}
 .footer__column a.underline.underline--fix{
    margin-bottom:.5rem
}
 @media only screen and (min-width: 66rem){
    .footer__column a.underline.underline--fix{
        margin-bottom:0
    }
}
 .footer__column a svg{
    bottom:5px;
    position:relative
}
 .footer__column a{
    margin-top:.5rem
}
 .footer__column p{
    line-height:1.1
}
 .footer__column p>a{
    margin-left:.5rem
}
/* footer*/

/* main parallax */
 .main{
    position:relative;
    z-index:1;
        margin-bottom:29.33rem

}
.main{
    margin-bottom:0
}
@media only screen and (min-width: 66rem){
    .main{
        margin-bottom:29.33rem
    }
}
@media only screen and (min-width: 75rem){
    .main{
        margin-bottom:28.44rem
    }
}
.main.main--relative{
    margin-bottom:0 !important
}
/* main parallax */

.underline--modal{cursor:pointer;color: #f05a5d;

margin: 0 .35rem;

white-space: nowrap;

line-height: 1.2;}


